#banner
	.banner_content
		%h1 FileCabinet
		%p Your life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path

#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Kale chips blog twee cred kogi, schlitz yr roof party chillwave put a bird on it stumptown. Pop-up godard dreamcatcher, roof party hella leggings forage brooklyn intelligentsia gluten-free pickled williamsburg crucifix. Selfies seitan everyday carry DIY ugh. Blue bottle godard lo-fi meh gastropub, craft beer yr thundercats chillwave migas butcher 8-bit offal kitsch. Gochujang hammock direct trade stumptown ramps photo booth. 8-bit chillwave asymmetrical, poutine swag everyday carry jean shorts scenester flexitarian cliche. Organic yuccie food truck, cronut bespoke pabst kickstarter irony try-hard.

#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br
		%button= link_to "Join Now", new_user_registration_path